.App {
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

.main {
  width: 1024px;
  min-width: 90%;
  margin: 0 auto;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
}

.header img {
  width: 10%;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  height: 150px;
  margin-bottom: 40px;
}

.title-section {
  color: white;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 15px;
  cursor: pointer;
}

.caroussel {
  display: flex;
  overflow-x: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.pictures-section {
  scroll-snap-align: start;
  cursor: pointer;
}
